*{
    font-size: 10px;
    font-family: 'News Cycle', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
main{
    background-color: #FAF8F5;
    width: 125rem;
    margin-left: 15rem;
}
main section{
    background-color: #FFF;
}