.burger-containerk{
    position: relative;
    top: 0;
    left: 0;
}

.menu-toggle {
    display: block;
    cursor: pointer;
}

.navbar {
   display: none;
}
.navbar--active{
    display: flex;
    flex-direction: column;
    width: 10rem;
}


.logo-img {
    width: 15rem;
}

.nav-links {
    list-style: none;
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}

.nav-links.show {
    height: 100%;
}

.nav-links li {
    margin-right: 20px;
}



.nav-links li:hover a {
    color: #000;
    transition: 0.3s ease;
}

.bar {
    height: 1px;
    width: 100%;
    background-color: #01C372; /* Changement de couleur */
    z-index: 20;
    transition: transform 0.3s ease-in-out;
}

.bars {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 21;
    height: 4rem;
    width: 2rem;
}

/* Afficher le menu complet sur les écrans larges */
@media screen and (min-width: 1000px) {
    .menu-toggle {
        display: none;
    }

    .navbar {
        background-color: #01C372;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        padding: 1rem 2rem;
        overflow: hidden;
        transition: width 0.5s ease-in-out;
        width: 15rem;
    }

    .nav-links {
        display: flex;
        height: auto;
        transition: none;
    }

    .nav-links a {
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 2rem;
        font-weight: 500;
        transition: all 0.3s ease;
        height: 3rem;
        width: 80%;
        padding: 10px;
        margin: 1rem 0;
    }

    .nav-links a i {
        width: 4rem;
        margin: 0;
    }

    .nav-links a:hover {
        color: #000;
        background-color: #fff;
        border-radius: 5px;
    }

}

.menu-toggle.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-6px, 6px);
}

.menu-toggle.open .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-6px, -6px);
}

/* Ajoutez/modifiez selon les besoins */
#menuBars {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 21;
    height: 4rem;
    width: 2rem;
    cursor: pointer;
}

#menuBars .bar {
    height: 1px;
    width: 100%;
    background-color: #01C372;
    transition: transform 0.3s ease-in-out;
}

#menuToggle {
    display: none;
}

.menu {
    --s: 4rem; /* control the size */
    --c: black; /* the color */

    height: var(--s);
    aspect-ratio: 1;
    border: none;
    padding: 0;
    border-inline: calc(var(--s)/2) solid #0000;
    box-sizing: content-box;
    --_g1: linear-gradient(var(--c) 20%,#0000 0 80%,var(--c) 0)
    no-repeat content-box border-box;
    --_g2: radial-gradient(circle closest-side at 50% 12.5%,var(--c) 95%,#0000)
    repeat-y content-box border-box;
    background:
            var(--_g2) left  var(--_p,0px) top,
            var(--_g1) left  calc(var(--s)/10 + var(--_p,0px)) top,
            var(--_g2) right var(--_p,0px) top,
            var(--_g1) right calc(var(--s)/10 + var(--_p,0px)) top;
    background-size:
            20% 80%,
            40% 100%;
    position: relative;
    clip-path: inset(0 25%);
    -webkit-mask: linear-gradient(90deg,#0000,#000 25% 75%,#0000);
    cursor: pointer;
    transition:
            background-position .3s var(--_s,.3s),
            clip-path 0s var(--_s,.6s);
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}
.menu:before,
.menu:after {
    content:"";
    position: absolute;
    border-radius: var(--s);
    inset: 40% 0;
    background: var(--c);
    transition: transform .3s calc(.3s - var(--_s,.3s));
}

.menu:checked {
    clip-path: inset(0);
    --_p: calc(-1*var(--s));
    --_s: 0s;
}
.menu:checked:before {
    transform: rotate(45deg);
}
.menu:checked:after {
    transform: rotate(-45deg);
}
.menu:focus-visible {
    clip-path: none;
    -webkit-mask: none;
    border: none;
    outline: 2px solid var(--c);
    outline-offset: 5px;
}

body {
    margin:0;
    min-height:100vh;
    display:grid;
    place-content:center;
}
.logo-img{
    width: 5rem;
}

.navbar-not-opened{
    width: 0;
    height: 0;
    opacity: 0;
    transition: 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
}
.navbar-opened{
    width: 15rem;
    height: 100%;
    transition: 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
}
